:root {
  /* Primary */
  --blue: hsl(223, 87%, 63%);
  /* 
 Secondary */

  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);

  /* Neutral */

  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
header {
  display: grid;
  text-align: center;
  place-items: center;
  margin-bottom: 4rem;
}
header .logo {
  margin: 4rem 0;
}
header h1 {
  color: var(--gray);
  /* font-size: 3rem; */
  font-weight: 300;
  margin-bottom: 1rem;
}
header h1 .soon {
  color: var(--very-dark-blue);
  font-weight: 700;
}

header h2 {
  color: var(--very-dark-blue);
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
header input {
  width: 350px;
  border-radius: 35px;
  padding: 10px 20px;
  font-size: 1rem;
  margin: 0 12px;
  border: 1px solid var(--pale-blue);
  font-family: inherit;
  transition: transform 0.25s;
}
header input::placeholder {
  color: var(--pale-blue);
  font-size: 0.8rem;
}
header input:hover {
  transform: scale(1.1);
}
header input:focus {
  outline: none;
  /* border-color: var(--blue); */
}
header button {
  color: white;
  font-size: 1rem;
  padding: 12px 42px;
  background-color: var(--blue);
  border-radius: 20px;
  border: none;
  box-shadow: 5px 10px 8px rgba(75, 119, 215, 0.1);
  transition: transform 0.25s;
}
header button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

main {
  margin-bottom: 4rem;
}

main img {
  width: 600px;
  margin: 10px auto;
  display: block;
}
footer {
  text-align: center;
}

footer .icon {
  font-size: 1.5rem;
  color: var(--blue);
  margin: 0 1rem;
}

footer p {
  font-size: 0.8rem;
  margin: 16px 0;
  color: var(--gray);
}
footer .icon:hover {
  transform: scale(1.4);
  cursor: pointer;
}

input:invalid {
  border-color: red;
}
.error {
  width: 100%;
  color: red;
  font-size: 0.8rem;
  text-align: start;
  padding-top: 10px;
  padding-left: 50px;
  font-style: italic;
}

.error.active {
  display: block;
}

@media screen and (max-width: 730px) {
  * {
    margin-bottom: 10px;
  }
  body {
    font-size: 12px;
  }
  header .logo {
    margin: 40px 0;
  }
  header input {
    width: 86%;
    margin: 0 0 40px 0;
  }
  header button {
    width: 100%;
  }
  main img {
    width: 100%;
  }
  footer .icon {
    font-size: 1rem;
    color: var(--blue);
    margin: 0 1rem;
  }
  footer p {
    font-size: 0.5rem;
  }
}
